<section class="banner pb-5" >
    <div class="row w-100 p-5 mb-5" >
        <div class="col-md-6 p-5 mb-2">
            <p class="title animate__animated animate__slideInUp animate__slower text-white display-4 h1 font-weight-bold">Welcome to <span class="text-mail">Intra</span><span class="text-mail-complement">Mail</span> System</p>
            <p class="text-white h6 py-5 subtitle font-weight-bold">This is a system that can be used in any category of organisation to send mails, memo, correspondence and other office documents to every registered members</p>
            <button class="btn btn-mail btn-lg text-mail-complement font-weight-bold animate__animated animate__jello animate__infinite animate__slower" >Get Started</button>
        </div>
        <div class="col-md-6 mb-2">
            <!-- <img src='/assets/images/background1.jpg' class="img-fluid" > -->
        </div>
    </div>
</section>
